---
import Layout from '../components/Layout.astro';
import dayjs from 'dayjs';

const data = Astro.fetchContent('./*.md');
---
 
 <Layout title="Blog">
    <ul class="text-sm">
        {data.map(post => ({...post, created: new Date(post.created)}))
        .sort((a,b) => b.created.getTime() - a.created.getTime())
        .map(post => <li>
            <div class="flex flex-row">
                <a href={post.url}>{post.title}</a>
                <time class="ml-auto">{dayjs(post.created).format('MMMM d, YYYY')}</time>
            </div>
            <p>{post.description}</p>    
            <hr />
        </li>)}
    </ul>
</Layout>   