---
import Layout from "../components/Layout.astro";
import dayjs from "dayjs";

const data = await Astro.glob("./*.md");
---

<Layout title="Blog">
  <ul class="text-sm">
    {
      data
        .filter((x) => !x.file.match(/resume/))
        .map((post) => ({
          ...post,
          created: new Date(post.frontmatter.created),
        }))
        .sort((a, b) => b.created.getTime() - a.created.getTime())
        .map((post) => (
          <li>
            <div class="flex flex-row">
              <a href={post.url}>{post.frontmatter.title}</a>
              <time class="ml-auto">
                {dayjs(post.created).format("MMMM d, YYYY")}
              </time>
            </div>
            <p>{post.frontmatter.description}</p>
            <hr />
          </li>
        ))
    }
  </ul>
</Layout>
