---
const { content } = Astro.props;
let title = Astro.props?.title || content?.title;
title = `${title ? `${title} | ` : ""}Andy Edinborough`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style is:global>
      @import "../styles/global.css";
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
    />
    <title>{title}</title>
  </head>

  <body class="bg-black">
    <slot />
  </body>
</html>
